<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <strong>Invoice List</strong>
            </div>
            <div class="col-md-12">
                <div class="col-md-2">
                    Invoice #
                </div>
                <div class="col-md-2">
                    Supplier
                </div>
                <div class="col-md-2">
                    Invoice Total
                </div>
                <div class="col-md-2">
                    Invoice Date
                </div>
                <div class="col-md-4">
                    Actions
                </div>
            </div>
            <div class="col-md-12" v-if="invoices.length === 0">
                No invoices has been found.
            </div>
            <div class="col-md-12" v-for="invoice in invoices">
                <div class="col-md-2">
                    {{ invoice.number }}
                </div>
                <div class="col-md-2">
                    {{ invoice.supplier }}
                </div>
                <div class="col-md-2">
                    ${{ invoice.invoice_total }}
                </div>
                <div class="col-md-2">
                    {{ invoice.invoice_date.indexOf(' ') > 0 ? invoice.invoice_date.split(' ')[0] : invoice.invoice_date }}
                </div>
                <div class="col-md-4">
                    <a @click="$router.replace('/view/' + invoice.id)">View</a>
                </div>
            </div>
            <div class="col-md-12">
                <a @click="$router.replace('/import')" class="btn btn-info pull-right">Import Invoice(s)</a>
            </div>
                   
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';

    export default {
        methods: mapActions(['loadInvoices']),   
        computed: {
          ...mapGetters(['invoices'])
        },
        mounted() {
            this.loadInvoices();
        }
    }
</script>
