<template>
  <div class="container">
    <div class="row">
      <a @click="$router.replace('/')" class="btn btn-info pull-right">Return to list</a>
      <form class="form-inline">
        <div class="form-group">
          <label for="email">Select a mdb file:</label>
          <input type="file" class="form-control" id="file">
        </div>
        <button @click="upload" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div v-if="uploaded">
      Your file has been submitted to server. Click the 'Return to list' button to go back.
    </div>
    <br/><br/><br/><br/>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    data () {
      return {
        'uploaded': false
      }
    },
    methods: {
      ...mapActions(['uploadInvoice', 'msg']),
      upload () {
        let data = new FormData();
        data.append('file', document.getElementById('file').files[0]);
        this.uploadInvoice(data);
        this.uploaded = true;
      }
    }
  }
</script>
