<template>
  <div class="container">
    <div class="row">
      <a @click="$router.replace('/')" class="btn btn-info pull-right">Return to list</a>
      <div class="col-md-12">
        <span class="col-md-4">Invoice Date: </span>
        <span class="col-md-8">{{ invoice.invoice_date ? invoice.invoice_date.split(' ')[0] : '' }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">Supplier: </span>
        <span class="col-md-8">{{ invoice.supplier }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">Invoice Number: </span>
        <span class="col-md-8">{{ invoice.number }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">SUBTOTAL: </span>
        <span class="col-md-8">${{ invoice.subtotal }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">SHRINK WRAP $6.00 TONNE: </span>
        <span class="col-md-8">${{ invoice.shrink_wrap }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">ADMIN FEE: </span>
        <span class="col-md-8">${{ invoice.admin_fee }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">INVOICE TOTAL: </span>
        <span class="col-md-8">${{ invoice.invoice_total }}</span>
      </div>
      <div class="col-md-12">
        <span class="col-md-4">INVOICE ITEMS: </span>
        <span class="col-md-8"></span>
      </div>
      <div class="col-md-12">
        <span class="col-md-1">PRODUCT CODE</span>
        <span class="col-md-2">DESCRIPTION</span>
        <span class="col-md-1">SIZE</span>
        <span class="col-md-1">PACK QTY</span>
        <span class="col-md-1">ORDER QTY</span>
        <span class="col-md-1">DELIVER QTY</span>
        <span class="col-md-1">BASE COST</span>
        <span class="col-md-1">DELIVERY FEE</span>
        <span class="col-md-1">CASE COST</span>
        <span class="col-md-1">TOTAL COST</span>
        <span class="col-md-1">TOTAL GST</span>
      </div>
      <div class="col-md-12" v-for="item in invoice.items">
        <span class="col-md-1">{{ item.product_code }}</span>
        <span class="col-md-2">{{ item.description }}</span>
        <span class="col-md-1">{{ item.size }}</span>
        <span class="col-md-1">{{ item.pack_qty }}</span>
        <span class="col-md-1">{{ Number(item.order_qty) >= Number(item.pack_qty) ? Number(item.order_qty) / Number(item.pack_qty) : '.' + item.order_qty }}</span>
        <span class="col-md-1">{{ Number(item.delivery_qty) === 0 ? 'TNA' : Number(item.delivery_qty) >= Number(item.pack_qty) ? Number(item.delivery_qty) / Number(item.pack_qty) : '.' + item.delivery_qty }}</span>
        <span class="col-md-1">${{ Number(item.delivery_qty) > 0 ? item.base_cost : 0.00 }}</span>
        <span class="col-md-1">${{ Number(item.delivery_qty) > 0 ? item.delivery_fee : 0 }}</span>
        <span class="col-md-1">${{ Number(item.delivery_qty) > 0 ? item.case_cost : 0 }}</span>
        <span class="col-md-1">${{ Number(item.delivery_qty) > 0 ? item.total_cost : 0 }}</span>
        <span class="col-md-1">${{ Number(item.delivery_qty) > 0 ? item.total_gst : 0 }}</span>
      </div>
    </div>
    <br/><br/><br/><br/>
  </div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    data () {
      return {
        invoice: []
      }
    },
    methods: {
      ...mapActions(['uploadInvoice']),
    },
    computed: {
      ...mapGetters(['invoices'])
    },
    mounted() {
      if (this.invoices.length === 0) {
        this.$router.replace('/');
      }
      this.invoice = this.invoices.find(el => el.id === Number(this.$route.params.id));
    }
  }
</script>
